$body-bg: #000;

@import '~bootstrap/scss/bootstrap.scss'; 



/* App */
.App {
    text-align: center;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
}


/* Header */
.gradient-header {
    background-color: #4686a0;
    background-attachment: fixed, fixed, fixed;
    background-image: url("../images/overlay2.png"), url("../images/overlay3.svg"), linear-gradient(45deg, #9dc66b 5%, #4fa49a 30%, #4361c2);
    background-position: top left, center center, center center;
    background-size: auto, cover, cover;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.liaison {
    -moz-justify-content: center;
    -webkit-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    position: relative;
}

.liaison::after {
    background: #ffffff;
    content: '';
    height: 100vh;
    left: 50%;
    position: absolute;
    top: 100%;
    width: 1px;
    pointer-events: none;
}


@media screen and (max-width: 720px) {
    .w-50 {
        width: 100% !important;
    }
}

/* BodyComponent */

.bg-secondary {
    background-attachment: scroll;
    background-color: #333;
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed,							fixed;
    background-image: url("../images/overlay1.png"), url("../images/header.jpg");
    background-size: auto,							cover;
}

li {
    list-style: none;
}

.no-bg {
    background-color: transparent !important;
}

.icon-height {
    height: max-content;
    width: max-content;
}

.icon-html {
    color: #EC5F46;
}
    .icon-html:hover {
        color: #F3744C;
    }

.icon-css {
    color: #1274B5;
}
    .icon-css:hover {
        color: #0889C3;
    }

.icon-js {
    color: #D4B830;
}
    .icon-js:hover {
        color: #FDD83C;
    }

.icon-react {
    color: #53C1DE;
}
    .icon-react:hover {
        color: #09D8FE;
    }

.icon-nodejs {
    color: #026E00;
}
    .icon-nodejs:hover {
        color: #83CD29;
    }

.icon-database {
    color: #7320A4;
}
    .icon-database:hover {
        color: #C800FF;
    }

/* Headers */
header.major {
    margin: 0 0 1em 0;
}

    header.major:after {
        background: rgba(144, 144, 144, 0.5);
        content: '';
        display: inline-block;
        height: 1px;
        margin-top: 1.5em;
        width: 6em;
    }


#header {
    p {
        color: rgba(255, 255, 255, 0.75);
    }
}


#one {
    header.major::after {
        background: rgba(144, 144, 144, 0.5);
        content: '';
        display: inline-block;
        height: 2px;
        margin-top: 1.5em;
        width: 6em;
    }
}

#one, #three {
    h1, h2, h3, h4, h5, h6 {
        color: #555;
    }

    p {
        color: #666;
    }
}

#two, #four {
    p {
        color: rgba(255, 255, 255, 0.75);
    }

    h1, h2, h3, h4, h5, h6 {
        color: #fff;
    }
}

#two {
    header.major:after {
        background: #fff;
        content: '';
        display: inline-block;
        height: 2px;
        margin-top: 1.5em;
        width: 6em;
    }
}

#four {
    header.major:after {
        background: #fff;
    }
}

/* Footer icons */


.icon-hover {
    color: #CFCFCF;
}

    .icon-hover:hover {
    color: #fff;
}

/* Footer */

.gradient-footer {
    background-color: #4686a0;
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed, fixed, fixed;
    background-image: url("../images/overlay2.png"), url("../images/overlay4.svg"), linear-gradient(45deg, #4361c2, #4fa49a 50%, #9dc66b 95%);
    background-position: top left, center center, center center;
    background-size: auto, cover, cover;
    text-align: center;
}


/* Auth */

.form-login {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}


/* 404 Not Found */

.not-found {
    font-weight: 900;
    font-size: 160px;
    letter-spacing: 20px;
    background: url('../images/bg.jpg') center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

@media screen and (max-width: 575.98px) {
    .not-found {
        font-size: 130px;
    } 
}
